body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.add-todo-input,
.edit-todo-input {
  outline: none;
}

.add-todo-input:focus,
.edit-todo-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.view-opt-label,
.date-label {
  font-size: 0.8rem;
}

.edit-todo-input {
  font-size: 1.7rem !important;
}

.container-Todo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTodo {
  width: 100%;
  height: 100px;
  background-color: #2596be;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-container {
  width: 100%;
}

.liJobs {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}

.checkbox-job {
  display: flex;
}

#job {
  margin-left: 20px !important;
  margin-top: 10px !important;
}

.btnEditDelete > Button {
  margin-left: 10px;
}
.lineThrough {
  text-decoration: line-through;
}
.p-1 > u {
  margin-left: 10px;
}

.fa-check {
  font-size: 55px;
}

.date-label {
  margin-left: 3px;
}

.bi-info-circle {
  font-size: 12px;
}

.todo-created-info {
  margin-left: 11px;
}

.bi-calendar-date {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #548cff;
}

ul {
  list-style: none;
}

.fa-pencil,
.fa-trash-o {
  font-size: 16px;
}

.bi-square {
  font-size: 26px;
}
